@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif, Helvetica, sans-serif;
    background: #0b0918;
}
.logotipo {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.cineUnity{
    color: #d83dff;
    font-size: 30px;
}
.nav-header{
    
        background-color: #1a1535; 
        color: #fff; 
        padding: 30px; 
        display: flex;
        justify-content: space-between;
        
}
.lupa{
    height: 20px;
    width: 20px;
}
.lista-nav{
    height: 30px;
    margin: -5px;
}

.search-box{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#1d1741;
    height: 50px;
    width: 500px;
    padding: 10px;
    border-radius: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.search-text{
    border: none;
    background:none ;
    outline: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    
    
}
::-webkit-input-placeholder{
    color: #403876;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#1a1535;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a244f;
}
.search-btn:hover {
    background-color: #35304a; 
}
.nav-items{
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 5px;
    margin-left: 50px;
    color: #d83dff;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: 100%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 50%; 
    left: 0; 
    transform: translateY(-55%); 
    width: 50%;
    background: rgba(3, 3, 3, 0.862); 
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left; 
}

.slide:hover .overlay {
    opacity: 1; 
}

.title-filme{
    font-size: 40px;
}
.info-filmes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.descricao {
    width: 50%; 
    text-align: left;
    font-size: 18px;
}
.add-list-btn {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #1d1741; 
    color: #fff; 
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-list-btn:hover {
    background-color: #2a244f; 
}

.copyright{
    padding: 24px;
    font-size: 10px;
    color: rgba(153, 153, 153, 0.785);
}


.manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #d83dff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
